include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

# data directory, run make to download data
include data/Makefile

# templates
recursive-include coastviewer/templates *
recursive-include coastviewer/swagger *

recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
