connexion==1.2
flask>=0.12
matplotlib==2.1.0
netCDF4>=1.2
numpy==1.13.3
numpy==1.13.3
pandas==0.21.0
pyproj==1.9.5.1
cmocean==1.1
scipy>=0.19
colorcet==0.9.1
openpyxl==2.4.9
earthengine-api==0.1.129
pycpt==0.2.0
