connexion==1.2
flask>=0.12
matplotlib==2.1.1
netCDF4>=1.2
numpy==1.17.0
numpy==1.17.0
pandas==0.21.1
pyproj==1.9.5.1
cmocean==1.1
scipy>=0.19
colorcet==0.9.1
openpyxl==2.4.9
geojson==2.1.0
git+https://github.com/j08lue/pycpt#b45f720d09da79bcd567c5cbba9a554b0a7cc1d9
Flask-Cors==3.0.3
