<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&amp;O Kust</title>
    <!-- polyfill for IE 11 -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <!-- create extra funcitons for IE -->
    <script src="/static/polyfill.ie.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify@0.14.11/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/4ee6f65ee1.js"></script>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.js"></script>
  </head>
  <body>
    <div id="app">
      <v-app light>
        <main>
          <v-container fluid class="pa-0">
            <info-page
            :id= "{{ id }}"
            ></info-page>
          </v-container>
        </main>
        <v-footer>
          <span>Data: <a href="https://www.rijkswaterstaat.nl/zakelijk/open-data">Rijkswaterstaat</a>, Code: <a href="https://github.com/openearth/coastviewer"><i class="fa fa-github"></i></a>, Version: {{ __version__ }}</span>
        </v-footer>
      </v-app>
    </div>
    <script type="x-template" id="info-page">
      <v-layout column align-center >
        <v-tabs dark fixed centered>
          <v-tabs-bar slot="activators">
            <v-tabs-slider></v-tabs-slider>
            <v-tabs-item href="#tab-info">Info</v-tabs-item>
            <v-tabs-item href="#tab-timeseries">Timeseries</v-tabs-item>
            <v-tabs-item href="#tab-nourishments">Kustindicatoren</v-tabs-item>
          </v-tabs-bar>
          <v-tabs-content id="tab-info" class="pa-3">
            <v-layout>
              <v-flex xs12 sm6 offset-sm3>
                <v-card>
                  <v-card-media src="{{ static_url }}" height="200px">
                    <v-layout column class="media">
                      <v-card-title>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                          <v-icon>more_vert</v-icon>
                        </v-btn>
                      </v-card-title>
                      <v-spacer></v-spacer>
                      <v-card-title class="white--text pl-5 pt-4">
                        <div class="display-1 pl-5 pt-5">Transect {{ id }}</div>
                      </v-card-title>
                    </v-layout>
                  </v-card-media>
                  <v-card-text>
                    <v-list two-line>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="indigo--text">fa-key</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>Identification</v-list-tile-title>
                          <v-list-tile-sub-title>Id: {{ id }}, alongshore: {{ "%.0f" % alongshore }} m in {{ areaname[:] }} ({{ areacode }})</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="indigo--text">fa-globe</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>Coordinates</v-list-tile-title>
                          <v-list-tile-sub-title>{{ "%.3f" % rsp_lat }}&deg;N, {{ "%.3f" % rsp_lon }}&deg;E, {{ "%.0f" % (rsp_x, ) }} m E, {{ "%.0f" % (rsp_y, ) }} m N (EPSG:28992)</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="indigo--text">fa-ship</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>Tide</v-list-tile-title>
                          <v-list-tile-sub-title>Mean low water: {{ "%.3f" % mean_low_water }} m, mean high water {{ "%.3f" % mean_high_water }} m </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card-text>
                </v-card>

              </v-flex>
            </v-layout>
          </v-tabs-content>
          <v-tabs-content id="tab-timeseries" class="pa-3">
            <v-layout>
              <v-flex xs12 sm6 offset-sm3 >
                <v-card class="mb-3" id ="transect-charts">
                  <v-card-text> <h4>Transect over time</h4>
                    <div id = "echart-container" :style="{width: '1000px', height: '620px'}">                      
                    </div>

                  </v-card-text>
                  <v-card-actions>
                    <v-btn v-on="on" @click="exportGraph" primary slot="activator">Export chart</v-btn>
                    </v-menu>
                  </v-card-actions>
                </v-card>
                <v-card class="mb-3" id ="transect-charts">

                  <v-card-text> <h4> Transect over time </h4>
                    <figure>
                      <img src="{{url_for('.coastviewer_controllers_timestack', id=id)}}" >
                      <figcaption>
                        Topographic map and mean high/low waterlines contour of transect {{ id }} over time.
                        Data is in and extrapolated in space and time.
                      </figcaption>
                    </figure>

                  </v-card-text>

                  <v-card-actions>
                    <v-menu offset-y>
                      <v-btn primary slot="activator">Export chart</v-btn>
                      <v-list>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_timestack', id=id, format='png')}}" download>png</a>
                          </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_timestack', id=id, format='pdf')}}" download>pdf</a>
                          </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_timestack', id=id, format='svg')}}" download>svg</a>
                          </v-list-tile-title>
                        </v-list-tile>

                      </v-list>
                    </v-menu>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-tabs-content>
          <v-tabs-content id="tab-nourishments" class="pa-3">
            <v-layout>
              <v-flex xs12 sm8 offset-sm2>
                <v-card class="mb-3">

                  <v-card-text> <h4> Nourishments over time </h4>
                    <figure>
                      <img src="{{url_for('.coastviewer_controllers_indicators', id=id)}}">
                      <figcaption>Coastal state indicators for transect {{ id }}</figcaption>
                    </figure>

                  </v-card-text>

                  <v-card-actions>
                    <v-menu offset-y>
                      <v-btn primary slot="activator">Export chart</v-btn>
                      <v-list>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_indicators', id=id, format='png')}}" download>png</a>
                          </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_indicators', id=id, format='pdf')}}" download>pdf</a>
                          </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-title>
                            <a href="{{url_for('.coastviewer_controllers_indicators', id=id, format='svg')}}" download>svg</a>
                          </v-list-tile-title>
                        </v-list-tile>

                      </v-list>
                    </v-menu>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>

          </v-tabs-content>

        </v-tabs>
      </v-layout>
    </script>

    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify@0.14.11/dist/vuetify.js"></script>
    <script src="/static/info-page.js"></script>
  </body>
</html>
