<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel ="stylesheet" href="{{url_for('static.static', filename='styles.css')}}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#info-panel" class="mdl-tabs__tab is-active">Info</a>
                <a href="#timeseries-panel" class="mdl-tabs__tab">Timeseries</a>
                <a href="#indicators-panel" class="mdl-tabs__tab">Indicators</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="info-panel">
              {% include 'info-table.html' %}
            </div>

            <div class="mdl-tabs__panel" id="timeseries-panel">
              <p>Cross-shore profile of Transect {{transect['transect']['id']}} over time.</p>
              <a href="{{'/coastviewer/1.1.0/transects/%s/plot/eeg' % transect['transect']['id']}}" target="_blank">
                <img src="{{'/coastviewer/1.1.0/transects/%s/plot/eeg' % transect['transect']['id']}}"/>
              </a>
              <p>Topographic map and mean high/low waterlines contour of Transect {{transect['transect']['id']}} over time.</p>
              <a href="{{'/coastviewer/1.1.0/transects/%s/plot/timemap' % transect['transect']['id']}}" target="_blank">
                <img src="{{'/coastviewer/1.1.0/transects/%s/plot/timemap' % transect['transect']['id']}}"/>
              </a>
            </div>

            <div class="mdl-tabs__panel" id="indicators-panel">
              <p>Indicators</p>
              <a href="{{'/coastviewer/1.1.0/transects/%s/plot/indicators' % transect['transect']['id']}}" target="_blank">
                <img src="{{'/coastviewer/1.1.0/transects/%s/plot/indicators' % transect['transect']['id']}}"/>
              </a>
            </div>
            <footer>
              source: Rijkswaterstaat
              <img src="http://publicwiki.deltares.nl/download/attachments/42401895/lozenges.png" align="right"/>
              <img src="http://publicwiki.deltares.nl/download/attachments/131074/global.logo?version=1&modificationDate=1315800362000" align="right" width="87"/>
            </footer>
        </div>
    </body>
</html>
