#timeseries-panel img, #indicators-panel img {
  width: 100%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* .dataframe { */
/*     font-family: "Roboto", Arial, Helvetica, sans-serif; */
/*     border-collapse: collapse; */
/*     width: 100%; */
/* } */

/* .dataframe td, .dataframe th { */
/*     border: 1px solid #ddd; */
/*     padding: 8px; */
/* } */

/* .dataframe tr:nth-child(even){background-color: #f2f2f2;} */

/* .dataframe tr:hover {background-color: #ddd;} */

figure img {
    width: 100%;
}

#map {
    width: 100%;
    height: 300px;
}
